[Unit]
Description=Run git-auto-fetch every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=git-auto-fetch.service

[Install]
WantedBy=timers.target
