# ignore everything for the start
/*
**.pyc

# include just special files & folders
!/.gitignore

!/kitty/
!/nvim/
!/ranger/
!/tmux/tmux.conf
/tmux/plugins/**        # location of the plugins which get downloaded
!/tmux/plugins/tpm      # location of the plugin manager which is needed to download these plugins
/tmux/plugins/tmux_cpu/
