# ignore everything for the start
/*
**.pyc

# include just special files & folders
!/.gitignore

!/espanso/*
!/git/*                  # additional git configurations
!/hypr/*
!/kitty/*
!/nvim
!/nvim/*
!/shell/*
!/wallpapers
!/waybar/*
!/wofi/*
!/yazi/*
lazygit/config.yml
lazygit/state.yml
