[submodule "configuration/.config/nvim"]
	path = configuration/.config/nvim
	url = git@github.com:bitSheriff/Benjavim.git
[submodule "configuration/.config/wallpapers"]
	path = configuration/.config/wallpapers
	url = git@github.com:bitSheriff/wallpapers.git
