/* import the global color definitions */
@import url("../theming/colors.css");


* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
}


window#waybar {
  background-color: @backround;
  /* color: rgba(255, 255, 255, 1); */
  color: @purple;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#end-right-module,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#pulseaudio,
#custom-media,
#mode,
#scratchpad,
#systray,
#mpd {
  padding: 0px 6px;
  color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border: 0.19em solid @purple;
  /* border: 0.19em solid rgba(203, 75, 22, 1); */
  background-color: @background;
}

#idle_inhibitor {
  padding: 0px;
  padding-right: 16px;
  color: rgba(255, 255, 255, 1);
}

#custom-dnd {
  padding: 0px;
  padding-right: 16px;
  color: @pink;
}

#language{
  padding: 0px 8px;
}

@keyframes blink-workspace {
  to {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
}

#workspaces,
#window {
  color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border: 0.19em solid @cyan;
  background-color: @background;
  transition: all 0.4s ease-out;
}

#workspaces button {
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  transition: all 0.4s ease-out;
}

#workspaces button.active {
  background-color: @selection;
  color: @orange;
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 2;
  animation-direction: alternate;
  font-weight: 900;
  font-size: 17px;
}

#workspaces button.urgent {
  color: @red;
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 10;
  animation-direction: alternate;
}

#workspaces button.empty {
  color: rgba(41, 238, 223, 1);
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 4;
  animation-direction: alternate;
}

#workspaces button.occupied {
  background-color: rgba(203, 75, 22, 0.7);
}

#window {
  margin: 0px 4px;
  border: 0.19em solid rgba(255, 255, 255, 1);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  border: 0.19em solid @blue;
  padding: 0px 8px;
}

#pulseaudio.muted {
  border: 0.19em solid @red;
}

#custom-media {
  border: 0.19em solid @yellow;
  min-width: 100px;
}

#custom-media.custom-spotify {
  border: 0.19em solid @green;
}

#custom-media.custom-vlc {
  border: 0.19em solid rgba(255, 160, 0, 1);
}

#clock {
  padding: 0px 4px 0px 0px;
}

#backlight {
  padding: 0px 8px 0px 4px;
}

#battery {
  padding: 0px 8px 0px 4px;
}

#battery.charging,
#battery.plugged {
  color: rgba(137, 206, 0, 1);
}

@keyframes blink-battery {
  to {
    color: rgba(255, 255, 255, 1);
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
  color: rgba(255, 193, 0, 1);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: rgba(245, 60, 60, 1);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#systray {
  border: 0.19em solid @green-darker;
  padding: 0px 4px;
}

#tray {
  padding: 0px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(235, 77, 75, 1);
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @yellow;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#custom-power {
  padding: 0px 6px;
  color: @red;
}
