/* import the global color definitions */
@import url("../theming/colors.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
}

window {
  margin: 0px;
  border: 1px solid #bd93f9;
  background-color: $background;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #44475a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry.activatable #text {
  color: #ffffff;
}

#entry > * {
  color: #f8f8f2;
}

#entry:selected {
  background-color: #44475a;
}

#entry:selected #text {
  font-weight: bold;
}
