[user]
  name = bitSheriff
  email = bitSheriff@protonmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK1Q6Xk/KKttdTLAWBnDFHbpxh/+T07TndvnMV+7gelJ

[core]
  editor = nvim
	autocrlf = input

[merge]
  tool = meld

[diff]
  tool = meld

[advice]
  addIgnoredFile = false

[pull]
	rebase = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
  helper = !/usr/bin/gh auth git-credential

[commit]
    verbose = false
	gpgsign = true

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgall = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reflog
  winner = shortlog -sn
  pfusch = push -f --all
  backup = "! git push --all backup && git push --tags backup"
  ignore = update-index --assume-unchanged
  no-ignore = update-index --no-assume-unchanged
  sync = "! git pull && git push"

[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[init]
	defaultBranch = main
[push]
	default = current
