[user]
  name = bitSheriff
  email = root@bitsheriff.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKaKM4Dwfago4s/0Ap9hFHZMmqoly90mS/3rEl+7prJx

[core]
  editor = nvim
  autocrlf = input

[merge]
  tool = meld

[diff]
  tool = meld

[advice]
  addIgnoredFile = false

[pull]
	rebase = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
  helper = !/usr/bin/gh auth git-credential

[commit]
    verbose = false
	gpgsign = true

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgall = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reflog
  winner = shortlog -sn
  pfusch = push -f --all
  backup = "! git push --all backup && git push --tags backup"
  ignore = update-index --assume-unchanged
  no-ignore = update-index --no-assume-unchanged
  sync = "! git pull && git push"
  dangling = "! git fsck --lost-found | grep "^dangling commit" | sed "s/^dangling commit //g" | xargs git show -s --oneline"
  cloner = git clone --recurse-submodules -j8 # recursive cloning (inclusive submodules)

[gpg]
	format = ssh
[gpg "ssh"]
    program = /opt/1Password/op-ssh-sign

[init]
	defaultBranch = main
[push]

    default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[submodule]
	recurse = true
